body {
    width: 220px;
    text-align: center;
    border: solid cornflowerblue 4px;
}

.topContainer{
    padding: 1em
}

.option{
    margin-bottom: 0.5em
}

.option:hover{
    cursor: pointer
}

.title{
    color: cornflowerblue
}

.green{
    background-color: lightgreen;
}

.red{
    background-color: lightcoral;
}

.hidden{
    display: none
}

#note{
    max-width: 80%;
    margin-left: auto;
    margin-right: 0.5em;
    white-space: pre-line;
    text-align: right;
}

#noteURL{
    color: #ff5858
}